Django
South
django-avatar
django-classy-mail
django-compressor
django-debug-toolbar
django-frontend-skeleton
django-mailbox
django-ses
django-storages
django-telemetry
django-zurb-foundation
gunicorn
markdown
mysql-python
python-social-auth
pyzmail
sphinx
